@import "variable";

body {
  .logo {
    img {
      @media (max-width: 770px) {
        padding-left: 4%;
      }
    }
  }
  a {
    text-decoration: none;
  }
  nav {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    padding: 2.8rem 0;
    background-color: white;
    animation-duration: 1s;
    @media (max-width: 991px) {
      padding: 2rem 0;
    }
    .col-lg-4 {
      img {
        width: 13.3rem;
      }
    }
    .col-lg-6 {
      .nav-menu {
        @media (max-width: 991px) {
          display: none;
        }
        display: flex;
        margin: 0;
        font-size: 12px;
        letter-spacing: 2px;
        .home {
          border-bottom: 1px solid black !important;
          z-index: 3;
        }

        li {
          display: table;
          &:hover .navbar-dropdown {
            max-height: 500px;
            transition: max-height 0.2s ease-in;
            transition-delay: 0.2s;
          }
          position: relative;

          .underl {
            display: block;
            width: 0%;
            height: 1px;
            transition: 0.3s;
            background-color: black;
          }

          &:hover .underl {
            width: 100%;
          }

          &:not(.dontline)::after {
            content: "";
            position: absolute;
            background-color: black;
            width: 0%;
            height: 1px;
            bottom: 0;
            left: 0;
            transition: 0.3s;
          }
          &:not(.dontline):hover::after {
            width: 100%;
          }
          a {
            color: black;
            position: relative;
            padding-bottom: 2px;
            position: relative;
          }

          .navbar-dropdown {
            ul {
              padding-top: 37px;
            }
            li:first-child {
              margin-top: 25px;
            }
            overflow: hidden;
            max-height: 0;
            transition: all 0.2s ease-out;
            position: absolute;
            background-color: #fff;
            width: 250px;
            top: 100%;
            padding: 0;
            left: -50px;
            z-index: 1;
            border-radius: 0 0 5px 5px;
            li {
              margin: 0.7rem 0;
              a {
                color: black;
              }
            }
          }
        }

        .shop {
          &:hover > .navbar-dropdown {
            padding-top: 45px;
          }
          position: unset;
          > .navbar-dropdown {
            position: absolute;
            left: 5%;
            width: 90%;
            top: calc(100% - 44px);
            padding: 0;
            z-index: 10;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            > div {
              padding: 35px 0;
            }
            ul {
              padding: 0;
            }
          }
        }
        .item-withIcon {
          .dontline {
            position: relative;
            display: flex;
            align-items: center;
            i {
              font-size: 5px;
              color: rgba(0, 0, 0, 0.568);
            }
            .element-withIcon::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background-color: black;
              top: 17px;
              left: 0;
              transition: 0.3s;
            }
            .element-withIcon:hover::after {
              width: 100%;
            }
          }
        }
        .elements-drop-down {
          width: 12rem !important;
          li {
            padding-right: 20px;
          }
        }
      }

      .fa-bars {
        font-size: 25px;
        display: none;
        @media (max-width: 991px) {
          display: flex;
          justify-content: space-around;
        }
      }
      .side-menu {
        z-index: 99;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0px;
        background-color: white;
        box-shadow: 0 2 15 #ffffff;
        z-index: 1;
        transition: 0.3s;
        overflow-x: hidden;
        display: none;
        .side-menu-item {
          animation-duration: 1s;
        }
        @media (max-width: 991px) {
          max-width: 300px !important;
          display: block !important;
        }
        @media (max-width: 426px) {
          max-width: 100% !important;
        }
        li:first-child {
          padding-top: 5rem;
          a {
            border-bottom: 1px solid black;
          }
          ul {
            display: none;
            li {
              padding: 4% 0 0 0;
              a {
                color: #8b8b8c;
                border-bottom: none;
                padding-bottom: 0;
              }
            }
          }
        }
        li {
          padding: 8px 30px 14px 20%;
          a {
            color: black;
            padding-bottom: 3px;
          }
          ul {
            display: none;
            li {
              padding: 4% 0 0 0;

              a {
                color: #8b8b8c;
                border-bottom: none;
                padding-bottom: 0;
              }
            }
          }
          i {
            margin-left: 2%;
            font-size: 10px;
          }
        }
        .fa-times {
          position: absolute;
          top: 15px;
          right: 15px;
          color: $primary_color;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .bar-menu {
        display: none;
        @media (max-width: 991px) {
          display: flex;
          justify-content: end;
        }
      }
    }
    @media (max-width: 991px) {
      .col-lg-2 {
        display: none;
      }
    }
    .col-lg-2 {
      .fa-search {
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          color: $primary_color;
        }
      }
      .additional-nav {
        display: flex;
        #cart {
          letter-spacing: 2px;
          font-size: 12px;
        }
      }
    }
  }

  .nav {
    display: none;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    padding: 1.4rem 0.2rem;
    background-color: white;
    animation-duration: 2s;
    @media (max-width: 991px) {
      padding: 2rem 0;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
    .col-lg-5 {
      img {
        width: 13.3rem;
      }
    }
    .col-lg-7 {
      .nav-menu {
        @media (max-width: 991px) {
          display: none;
        }
        display: flex;
        margin: 0;
        font-size: 12px;
        letter-spacing: 2px;
        .home {
          border-bottom: 1px solid black !important;
          z-index: 3;
        }

        li {
          display: table;
          &:hover .navbar-dropdown {
            max-height: 500px;
            transition: max-height 0.2s ease-in;
            transition-delay: 0.2s;
          }
          position: relative;

          .underl {
            display: block;
            width: 0%;
            height: 1px;
            transition: 0.3s;
            background-color: black;
          }

          &:hover .underl {
            width: 100%;
          }

          &:not(.dontline)::after {
            content: "";
            position: absolute;
            background-color: black;
            width: 0%;
            height: 1px;
            bottom: 0;
            left: 0;
            transition: 0.3s;
          }
          &:not(.dontline):hover::after {
            width: 100%;
          }
          a {
            color: black;
            position: relative;
            padding-bottom: 2px;
            position: relative;
          }

          .navbar-dropdown {
            ul {
              padding-top: 37px;
            }
            li:first-child {
              margin-top: 25px;
            }
            overflow: hidden;
            max-height: 0;
            transition: all 0.2s ease-out;
            position: absolute;
            background-color: #fff;
            width: 250px;
            top: 100%;
            padding: 0;
            left: -50px;
            z-index: 1;
            border-radius: 0 0 5px 5px;
            li {
              margin: 0.7rem 0;
              a {
                color: black;
              }
            }
          }
        }

        .shop {
          &:hover > .navbar-dropdown {
            padding-top: 1px;
          }
          position: unset;
          > .navbar-dropdown {
            position: absolute;
            left: 5%;
            width: 90%;
            top: calc(100% - 5px);
            padding: 0;
            z-index: 10;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            > div {
              padding: 35px 0;
            }
            ul {
              padding: 0;
            }
          }
        }
        .item-withIcon {
          .dontline {
            position: relative;
            display: flex;
            align-items: center;
            i {
              font-size: 5px;
              color: rgba(0, 0, 0, 0.568);
            }
            .element-withIcon::after {
              content: "";
              position: absolute;
              width: 0%;
              height: 1px;
              background-color: black;
              top: 17px;
              left: 0;
              transition: 0.3s;
            }
            .element-withIcon:hover::after {
              width: 100%;
            }
          }
        }
        .elements-drop-down {
          width: 12rem !important;
          li {
            padding-right: 20px;
          }
        }
      }

      .fa-bars {
        font-size: 25px;
        display: none;
        @media (max-width: 991px) {
          display: flex;
          justify-content: space-around;
        }
      }
      .side-menu {
        z-index: 99;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 0px;
        background-color: white;
        box-shadow: 0 2 15 #ffffff;
        z-index: 1;
        transition: 0.3s;
        // padding: 10px 32px;
        overflow-x: hidden;
        display: none;
        @media (max-width: 991px) {
          max-width: 300px !important;
          display: block;
        }
        @media (max-width: 426px) {
          max-width: 100% !important;
        }
        .side-menu-item {
          animation-duration: 1s;
        }

        li:first-child {
          padding-top: 5rem;
          a {
            border-bottom: 1px solid black;
          }
        }
        li {
          padding: 8px 30px 14px 54px;

          a {
            color: black;
            padding-bottom: 3px;
          }
          i {
            margin-left: 5px;
          }
        }
        .fa-times {
          position: absolute;
          top: 15px;
          right: 15px;
          color: $primary_color;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .bar-menu {
        display: none;
        @media (max-width: 991px) {
          display: flex;
          justify-content: end;
        }
      }
    }
    @media (max-width: 991px) {
      .col-lg-2 {
        display: none;
      }
    }
    .col-lg-2 {
      .fa-search {
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          color: $primary_color;
        }
      }
      .additional-nav {
        display: flex;
        #cart {
          letter-spacing: 2px;
          font-size: 12px;
        }
      }
    }
  }

  header {
    background-color: #fafaf9;
    font-size: 15px;
    line-height: 24px;
    padding: 5% 0;
    @media (max-width: 380px) {
      padding: 5% 4%;
    }
    .col-lg-12 {
      padding-left: 0;
      h1 {
        font-family: "Playfair Display", serif;
        font-weight: lighter;
        font-size: 50px;
        line-height: 1.32em;
        color: #0e0e0e;
        @media (max-width: 380px) {
          font-size: 30px;
        }
      }
    }
  }

  main {
    margin: 10% 0;
    @media (max-width: 380px) {
      padding: 4%;
    }
    .col-lg-6 {
      @media (max-width: 780px) {
        margin-top: 10%;
      }
    }

    .prgoressBar {
      position: relative;
    }
    .percentCount {
      font-family: Lora, serif;
      color: #2b2b2b;
      font-size: 18px;
      font-weight: lighter;
      position: absolute;
      right: 0;
      top: -40px;
    }
    h4 {
      color: #2b2b2b;
      font-family: "Playfair Display", serif;
      font-weight: 400;
    }
    .progress2 {
      margin-top: 10%;
    }
  }

  footer {
    background-color: #fefaf3;
    padding: 4% 0 0 0;
    .row {
      .footer-nav {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        @media (max-width: 780px) {
          display: grid;
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        @media (max-width: 680px) {
          display: grid;
          grid-template-columns: repeat(1, minmax(0, 1fr));
          padding: 0 6%;
        }

        font-family: Montserrat, sans-serif;
        padding-bottom: 4%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.055);
        h6 {
          font-family: Montserrat;
          font-family: Montserrat, sans-serif;

          font-size: 12px;
          line-height: 2em;
          font-weight: 500;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          padding-bottom: 4%;
          @media (max-width: 680px) {
            padding-top: 5%;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          font-family: Montserrat, sans-serif;
          li {
            padding-bottom: 1%;
            @media (max-width: 680px) {
              padding-bottom: 3%;
            }
            a {
              color: #8b8b8ba4;
              transition: 0.4s;
              font-size: 12px;
              &:hover {
                color: $primary_color;
              }
            }
          }
        }
      }
      .footer-mark {
        padding-top: 1%;
        font-size: 12px;
        a {
          color: #6d6a6a;
          transition: 0.4s;
          &:hover {
            color: $primary_color !important;
          }
        }
        img {
          width: 179px;
          height: 21px;
        }
        .socialNet {
          @media (max-width: 780px) {
            padding-top: 3%;
            display: flex;
            justify-content: center !important;
          }
        }
        .text-widget {
          @media (max-width: 780px) {
            text-align: center;
            padding-top: 3%;
          }
          p {
            color: #afafaf;
          }
        }
      }
    }
  }
}
